/* throw away */

/* throw away */

html {
    height: 100%;
}

body {
    background: url(https://source.unsplash.com/xulIYVIbYIc);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

/* Content */
#content {
    text-align: center;
    padding-top: 25%;
}

#content h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba( 0, 0, 0, .2);
}
